:root {
  --red-white : #fff3f0;
  --red-red : #bd231b;
  --red-bordeaux : #ce7a7a;
}

::selection {
  color: #fff3f0;
  background: #ce7a7a;
}

body {
  margin: 0;
}

@font-face {
  font-family: 'helvetica';
  src: url('../public/fonts/HelveticaNeueLTStd-Bd.otf');
}

@font-face {
  font-family: 'bogam';
  src: url('../public/fonts/BOGAM.OTF');
}

@font-face {
  font-family: 'generalSans';
  src: url('../public/fonts/GeneralSans-Variable.ttf');
}

@font-face {
  font-family: 'rowan';
  src: url('../public/fonts/ROWAN-VARIABLE.TTF');
}

body {
  background-color: var(--red-white);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  background-color: #ce7a7a50;
}
 
body::-webkit-scrollbar-thumb {
  background-color: var(--red-bordeaux);
}

.page-body p {
  font-family: 'rowan';
  font-weight: 470;
  display: block;
  font-size: 24px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.page-body h1 {
  display: block;
  font-family: 'rowan';
  font-weight: 900;
  font-size: 45px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.page-body blockquote {
  display: block;
  font-family: 'rowan';
  font-weight: 300;
  font-size: 20px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.page-body h2 {
  display: block;
  font-family: 'rowan';
  font-size: 25px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 800;
}

@media screen and (max-width: 600px) {
  .page-body p {
    font-size: 12px;
  }
  
  .page-body h1 {
    font-size: 22.5px;
  }
  
  .page-body blockquote {
    font-size: 10px;
  }
  
  .page-body h2 {
    font-size: 12.5px;
  }
}

.header-div {
  overflow: hidden;
  height: 200px;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  user-select: none;
  transition: 0.6s;
}

.header-div img {
  filter: brightness(0.8);
  position: absolute;
  width: 100vw;
  top: 0;
}

.header-div h1 {
  position: absolute;
  z-index: 10;
  top: 112px;
  left: -2px;
  margin: 0;
  font-family: 'helvetica', 'sans-serif';
  color: var(--red-white);
  font-size: 90px;
  cursor: pointer;
  transition: 0.6s;
}

.navTitle {
  position: absolute;
  z-index: 10;
  top: 111px;
  left: -2px;
  margin: 0;
  font-family: 'helvetica', 'sans-serif';
  color: var(--red-white);
  font-size: 90px;
  cursor: pointer;
  transition: 0.6s;
}

.menu {
  position: absolute;
  right: 40px;
  top: 50px;
  height: 100px;
  fill: var(--red-red);
  transition: 0.3s ease;
}

#redMenu {
  fill: var(--red-red);
}

#whiteMenu {
  fill: var(--red-white);
}

.menuLink:hover svg {
  transform: rotate(10deg) scale(1.1);
}

.menuLink {
  cursor: pointer;
  z-index: 2;
}

.fixed {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
}


.menuH {
  transition: 0.3s ease;
  position: absolute;
  right: 76px;
  top: 48px;
  font-family: 'generalSans';
  font-size: 30px;
  color: var(--red-white);
  user-select: none;
}

.relative {
  height: 200px;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 0;
}

#output {
  display: none;
}



.NavRed {
  user-select: none;
  background-color: var(--red-red);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  visibility: collapse;
  left: 0;
  z-index: 50;
  opacity: 0;
  transition-duration: 0.3s;
  transition-property: opacity;
}

.showNav {
  visibility: visible;
  opacity: 1;
}

.crossRectangle {
  background-color: var(--red-red);
  width: 9px;
  height: 40px;
  transform: rotate(45deg);
  position: absolute;
  right: 88px;
  top: 79px;
  border-radius: 10px;
  transition: 0.3s;
}

.moreDeg {
  transform: rotate(-45deg);
}

a {
  text-decoration: none;
}

.navigation {
  position: absolute;
  right: 0;
  bottom: 50px;
  text-decoration: none;
  text-align: right;
}

.ul {
  color: var(--red-white);
  margin: 0 30px -25px 0;
  font-size: 80px;
  font-family: 'generalSans', sans-serif;
  text-decoration: underline 0.08em #fff3f000;
  text-underline-offset: 0.01em;
  transition: 0.5s;
}

.ul:hover {
  text-decoration: underline 0.08em #fff3f0;
  text-underline-offset: 0.07em;
}

.here {
  position: absolute;
  bottom : 5px;
  right: 400px;
  height: 70px;
  width: 80px;
  color: var(--red-white);
  font-family: 'generalSans';
  font-weight: 600;
}

.here span {
  position: absolute;
  top: 15px;
  left: -45px;
}


@media screen and (max-width: 600px) {
  .header-div {
       height: 120px;
   }
   .menu {
    height: 60px;
    top: 34px;
   }
  .menuH {
    font-size: 18px;
    top: 33px;
    right: 62px;
  }
  .header-div h1{
    font-size: 60px;
    top: 62px;
  }
  .relative {
    height: 120px;
  }

  .crossRectangle {
    width: 6px;
    height: 30px;
    right: 68px;
    top: 50px;
  }
}

.block {
  width: 100px;
  height: 3000px;
}

#arrow {
  fill: var(--red-white);
  height: 30px;
  width: 40px;
  transform: rotate(75deg);
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 500px) {
  .ul {
      font-size: 50px;
      margin: 0 0 -10px 0;  
   }
   .navigation {
    text-align: left;
    left: 10px;
    top: 50%;
    transform: translate(0, -40%);
   }
   .navTitle {
    display: none;
   }
   .here {
    display: none;
   }
}

@media screen and (max-height: 650px) {
  .ul {
      font-size: 50px;
      margin: 0 0 -10px 0;  
   }
   .navigation {
    text-align: left;
    left: 10px;
   }
   .navTitle {
    display: none;
   }
   .here {
    display: none;
   }
}

@media screen and (max-height: 350px) {
  .ul {
      font-size: 30px;
   }
}

@media screen and (max-width: 300px) {
  .ul {
      font-size: 30px;
   }
}

.grey-index .boxten{
  visibility: hidden;
}

.grey-index {
  margin-right: 8px;
  border-radius: 10px;
  animation: 2s linear 0.2s infinite alternate slidein;
}

.contact-wrapper {
  position: absolute;
  left: 30px;
  bottom: 0px;
  font-family: 'generalSans';
  color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  transform: scale(1.2);
}

.contact-svg {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-svg img {
  height: 18px;
}