:root {
  --red-white : #fff3f0;
  --red-red : #e72116;
  --red-bordeaux : #ce7a7a;
}

@font-face {
  font-family: 'helvetica';
  src: url('../public/fonts/HelveticaNeueLTStd-Bd.otf');
}

@font-face {
  font-family: 'generalSans';
  src: url('../public/fonts/GeneralSans-Variable.ttf');
}

body {
  background-color: var(--red-white);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  background-color: #ce7a7a50;
}
 
body::-webkit-scrollbar-thumb {
  background-color: var(--red-bordeaux);
}

.page-body p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.page-body h1 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.page-body blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.page-body h2 {
  display: block;
  font-size: 1.3em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.header-div {
  overflow: hidden;
  height: 200px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  user-select: none;
  transition: 0.6s;
}

.header-div img {
  filter: brightness(0.8);
  position: absolute;
  width: 100vw;
  top: 0;
}

.header-div h1 {
  position: absolute;
  z-index: 10;
  top: 112px;
  left: -5px;
  margin: 0;
  font-family: 'helvetica', 'sans-serif';
  color: var(--red-white);
  font-size: 90px;
  cursor: pointer;
  transition: 0.6s;
}

.menu {
  position: absolute;
  right: 40px;
  top: 50px;
  height: 100px;
  fill: var(--red-red);
  transition: 0.3s ease;
}

#redMenu {
  fill: var(--red-red);
}

#whiteMenu {
  fill: var(--red-white);
}

.menuLink:hover svg {
  transform: rotate(10deg) scale(1.1);
}

.menuLink:hover .menuH {
  right: 73px;
}

.menuLink {
  cursor: pointer;
  z-index: 2;
}

.menuH {
  transition: 0.3s ease;
  position: absolute;
  right: 76px;
  top: 48px;
  font-family: 'generalSans';
  font-size: 30px;
  color: var(--red-white);
}

.relative {
  height: 200px;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 0;
}

#output {
  display: none;
}



.NavRed {
  user-select: none;
  background-color: var(--red-red);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  visibility: collapse;
  left: 0;
  z-index: 50;
  opacity: 0;
  transition-duration: 0.3s;
  transition-property: opacity;
}

.showNav {
  visibility: visible;
  opacity: 1;
}

.crossRectangle {
  background-color: var(--red-red);
  width: 9px;
  height: 40px;
  transform: rotate(45deg);
  position: absolute;
  right: 88px;
  top: 79px;
  border-radius: 10px;
}

.moreDeg {
  transform: rotate(-45deg);
}


@media screen and (max-width: 600px) {
  .header-div {
       height: 120px;
   }
   .header-div .menu {
    height: 60px;
    top: 34px;
   }
  .menuH {
    font-size: 20px;
    top: 30px;
    right: 68px;
  }
  .header-div h1{
    font-size: 60px;
    top: 63px;
  }
}

.block {
  width: 100px;
  height: 3000px;
}