.buy-me {
    display: flex;
    background-color: var(--red-red);
    width: fit-content;
    align-items: center;
    justify-content: center;
    gap: 18px;
    border-radius: 10px;
    padding: 5px 15px;
    font-family: 'generalSans';
    color: white;
    margin: 0 auto;
    transform: scale(0.7);
}

.buy-me h1 {
    margin: 0;
    margin-bottom: 8px;
}

.buy-me h2 {
    margin: 0;
    margin-right: 10px;
}

.donate-text {
    color: var(--red-bordeaux);
    font-family: 'generalSans';
    font-weight: 550;
    text-align: center;
    width: 80%;
    margin: 80px auto 40px auto;
}

.pending {
    font-family: 'generalSans';
    margin: 80px auto;
    width: fit-content;
}

.map{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 200px);
    overflow: hidden;
    width: 100vw;
}

.map svg{
    height: 90%;
}


.map path, .map polygon, .map circle, .map ellipse {
    stroke:#000;
    stroke-linejoin:round;
    transition: 0.4s ease;
    cursor: pointer;
    fill:red;
    fill-opacity: 0; 
}

.map .cls-6{
    fill: var(--red-white);
    fill-opacity: 1; 

}

.map .cls-1{stroke-width:2px;}
.map .cls-3{stroke-width:0.75px;}
.map .cls-4{stroke-width:0.25px;}
.map .cls-5{stroke-width:0.5px;}

.mouseFollower {
    position: fixed;
    pointer-events: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    pointer-events: "none";
}

.countryName {
    background-color: #ce7a7a;
    padding: 8px 20px;
    border: 2px solid black;
    color: black;
    border-radius: 5px;
    margin-top: -30px;
    margin-left: 20px;
    font-family: 'generalSans';
    font-size: 16px;
    display: none;
}

.map-wrapper {
    width: 100vw;
    height: calc(100vh -200px);
}

@media screen and (max-width: 600px) {
    .map-wrapper {
        height: calc(100vh -200px);
    }
}

.tools {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 5px;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    z-index: 20;
}

.tools button {
    background-color: var(--red-bordeaux);
    border: 2px solid black;
    font-family: 'generalSans';
    font-weight: 700;
    cursor: pointer;
    color: black;
}



.flag img{
    border: 5px solid black;
    border-radius: 5px;
    background-color: white;
    height: 200px;
}

.country {
    width: 80%;
    margin: 50px auto;
}

.country-header h1 {
    font-family: 'generalSans';
    font-size: 90px;
    max-width: 70%;
    text-align: right;
    line-height: 90px;
    text-decoration: underline  var(--red-red) ;
    text-decoration-thickness: 0.4rem;
}

.country-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

@media screen and (max-width: 1150px) {
    .country-header {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .country-header h1 {
        text-align: center;
        font-size: 60px;
    }
}

@media screen and (max-width: 600px) {

    .flag img {
        height: 120px;
    }

    .country-header h1 {
        text-align: center;
        font-size: 40px;
        line-height: 50px;
        text-decoration-thickness: 0.3rem;

    }
}



.table-of-contents {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    font-family: 'generalsans';
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 100px;
    text-align: center;
}

.table-of-contents h3 {
    cursor: pointer;
}


.votes {
    margin-top: 90px;
}

.vote-display {
    padding: 10px 0px;
    display: grid;
    font-family: 'generalSans';
    align-items: center;
    grid-template-columns: 80px 1fr 60px;
    gap: 5px;
    cursor: pointer;
}

.dot {
    margin: 4px;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
}

.dot-wrapper {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {

    .table-of-contents {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .dot {
        margin: 3px;
        height: 10px;
        width: 10px;
    }
}


.votes h2 {
    font-family: 'generalSans'
}

.votes {
    margin-top: 90px;
}

p.parti {
    text-align: center;
    font-weight: 500;
    color: var(--red-red);
    text-decoration: underline var(--red-red);
    text-decoration-thickness: 0.2em;
}

.vote-display:hover{
        background-color: #f4e7e4;
}

.color {
    color: blue
}

.country-title {
    font-family: 'generalSans';
}

.seats-number {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.seats-number p  {
    margin: 0;
}

.partyCard {
    height: 400px;
    width: 200px;   
    border: 3px solid var(--red-red);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.partyCard:hover {
    background-color: rgba(228, 180, 180, 0.3);
    transform: scale(1.01);
}

.figure-card:hover {
    height: 500px;
    background-color: rgba(228, 180, 180, 0.3);
}

.partyLogo {
    height: 190px;
    width: 190px;
    margin: 5px auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.partyData {
    font-family: 'generalSans';
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 180px;
}

.partyData * {
    margin: 0;
}

.partyMore {
    margin: 0;
    font-family: 'generalsans';
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    color: var(--red-red);
    transition: 0.3s;
}

.partyMore:hover {
    transform: scale(1.1);
}

.partyDisplay-wrapper {
    position: fixed;
    display: none;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    justify-content: center;
    overflow-y: scroll;
    transition: 0.3s;
}

.partyDisplay {
    background-color: var(--red-white);
    border: 7px solid var(--red-red);
    border-radius: 10px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    font-family: 'generalSans';
    z-index: 10;
    width: 80vw;
    display: flex;
    margin-top: 400px;
    transition: 0.3s;
    height: fit-content;
    margin-bottom: 200px;
    opacity: 0;
}

.partyDisplay h1 {
    font-family: 'generalSans';
}

.partyDisplay h2{
    width: 80%;
    margin: 0;
    margin-top: 20px;
}

.important-figures {
    margin-bottom: 70px;
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
}


.party-history, .party-ideas {
    width: 80%;
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 25px;
}

.euroWrapper {
    width: 100%;
}

.topEuro {
    display: grid;
    grid-template-columns: 1fr 170px;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    gap: 40px;
    overflow: hidden;
}

.topEuro p {
    width: 100%;
    text-align: justify;
}

.topEuro .euro-logo {
    width: 170px;
    height: 170px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
}



.bottomEuro {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
}


.partyDisplay-wrapper::-webkit-scrollbar {
    width: 0.5em;
}

.partyDisplay-wrapper::-webkit-scrollbar-track {
    background-color: #ce7a7a50;
}

.partyDisplay-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--red-bordeaux);
}

.close-display {
    position: fixed;
    font-family: 'generalSans';
    font-weight: 700;
    left: 45px;
    top: -100px;
    z-index: 20;
    cursor: pointer;
    background-color: var(--red-red);
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
    transition: 0.3s;
}

.close-display h3 {
    margin: 0;
}


.allparties {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    gap: 50px;
}

.card-scroll {
    background-color: rgba(228, 180, 180, 0.3);
    transform: scale(1.1);;
}

.party-logo {
    height: 200px;
    width: 200px;
}

.party-logo img {
    width: 100%;
    border-radius: 10px;
}

.euro-logo {
    height: 200px;
    width: 200px;
}

.euro-logo img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.ue-card {
    height: 60px;
    width: 60px;
    margin-left: 5px;
    display: inline-block;
    cursor: pointer;
}


.ue-card img {
    width: 100%;
    border-radius: 7px;
}

.euro {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}

.euro-child {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.partyHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
}

.partyHeader h1 {
    text-align: center;
}

@media screen and (max-width: 800px) {

    .partyHeader {
       flex-direction: column;
    }

    .party-logo {
        height: 100px;
        width: 100px;
    }

    .partyHeader h1 {
        font-size: 20px;
    }
}


.party-euro {
    width: 100%;
}

.fonctionnement p, .actu p {
    font-family: 'rowan';
    text-align: justify;
    text-indent: 50px;
}

.head-State {
    display: flex;
    gap: 30px;
    width: 80%;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
}

.state-figure-pic {
    width: 400px;
    max-width: 90vw;
    height: 500px;
    background-size: cover;
    background-position: center; 
    flex-shrink: 0;
}

.state-figure-data {
    font-family: 'generalSans';
}

.state-figure-data h2 span {
    font-weight: 500;
    font-size: 15px;
    color: var(--red-red);
}

@media screen and (max-width: 1000px) {

    .head-State {
        flex-direction: column;
    }

}

.minister {
    border: 3px solid var(--red-red);
    font-family: 'generalSans';
    height: 75px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: auto 75px;
}

.left-minister {
    display: flex;
    flex-direction: column;
    height: 75px;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    overflow: hidden;
    padding-left: 30px;

}

.left-minister h2 {
    margin: 0px;
}

.left-minister span {
    margin: 0px;
    color: var(--red-red);
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    width: 90%;
    text-overflow: ellipsis;
}

.right-minister {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.minister-logo {
    width: 80%;
    border-radius: 10px;
    height: 80%;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 1000px) {

    .minister {
        height: 55px;
        grid-template-columns: auto 55px;
    }
    
    
    .left-minister {
        padding-left: 15px;
        height: 55px;
    }

    .left-minister h2 {
        font-size: 17px;
        font-weight: 700;
    }   

    .left-minister span {
        font-size: 11px;
    }
}



.legend {
    display: flex;
    font-family: 'generalSans';
    gap: 5px;
}

.legend div {
    border: 2px solid black;
    height: 20px;
    width: 35px;
    background-color: #bd231b30;
}

.legend span {
    font-family: 'generalSans';
    font-weight: 700;
    font-size: 12px;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.country-div {
    margin-bottom: 100px;
}

.figure-card {
    border: 3px solid var(--red-red);
    font-family: 'generalSans';
    height: 75px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr auto;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
}

.left-figure {
    display: flex;
    flex-direction: column;
    height: 75px;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    overflow: hidden;
    padding-left: 30px;
}

.left-figure h2 {
    margin: 0px;
}

.left-figure span {
    margin: 0px;
    color: var(--red-red);
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.right-figure {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}


.figure-img-wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.figure-img {
    grid-column: 1/2;
    height: 400px;
    width: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

@media screen and (max-width: 1000px) {

    .figure-card {
        height: 40px;
        border-width: 2px;
    }
    
    
    .left-figure {
        padding-left: 15px;
        height: 40px;
    }

    .right-figure {
        height: 40px;
        font-size: 10px;
    }


    .left-figure h2 {
        font-size: 12px;
        font-weight: 600;
    }   

    .left-figure span {
        font-size: 9px;
    }


}

#FR *, #IT *  {
    fill-opacity: 0.3;
    fill: var(--red-red);
}

@media screen and (max-width: 1000px) {

    .topEuro {
        grid-template-columns: 1fr;
        justify-items: center;
        margin-bottom: 50px;
    }

}

.seats-data {
    width: 100%;
    margin: 50px 0;
}

.percentage-wrapper {
    height: 10px;
    width: 100%;
    background-color: rgba(228, 180, 180, 0.3);
    overflow: hidden;
    border-radius: 10px;
}

.percentage-parent{
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

.percentage-parent h3 {
    margin-bottom: 8px;
}

.percentage-parent span {
    font-weight: 600;
    margin-left: 10px;
}

.percentage {
    height: 50px;
    width: 10%;
    background-color: var(--red-red)
}

.notes {
    width: 80%;
    margin-bottom: 60px;
}

.national-map {
    width: 100%;
}

.mapsvgs {
    width: 90vw;
    max-width: 600px;
    position: relative;
    height: 90vw;
    max-height: 600px;
}

.national-map svg {
    position: absolute;
}

.national-map .cls-2, .national-map .cls-3,.national-map .cls-4{fill:none;stroke:#000;}

.national-map *{fill: none;}


.national-map .cls-6{fill:#bd231b;} 
.national-map .cls-5{fill:#fff3f0;}

.national-map .cls-2,.national-map .cls-3{stroke-linejoin:bevel;}
.national-map .cls-2{stroke-width:14px;}
.national-map .cls-3,.national-map .cls-4{stroke-width:4px;}

.national-map .cls-7{stroke-miterlimit:2;}

.cls-8,.cls-9,.cls-10,.cls-11{stroke:#000;}
.national-map .cls-8{stroke-width:3px;}

.national-map .cls-12{fill:#2041b7;}

.rounded-toggle-wrapper {
    width: 45px;
    height: 20px;
    border-radius: 17px;
    background-color: rgb(157, 154, 154);
    cursor: pointer;
    transition: 0.3s ease;
    flex-shrink: 0;
}

.rounded-toggle {
    width: 17px;
    position: relative;
    height: 17px;
    border-radius: 50%;
    background-color: white;
    top: 1.5px;
    left: 2px;
    transform: translateX(0px);
    transition: 0.3s ease;

}

.national-map .cls-1 {
    stroke: #000;
    stroke-width: 20px;
}

.translate-toggle {
    transform: translateX(24px);
}

.translate-toggle-wrapper {
    background-color: var(--red-red);
}

.map-option-wrapper span {
    background-color: none;
    font-family: 'generalSans';
    font-weight: 600;
    display: flex;
    gap: 5px
}


.map-option {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    align-items: center;    
    justify-content: baseline;
}

.hide-cities {
    display: none;
}


.angle {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    height: 20px;
    width: 20px;
    margin-left: 90px;
}

.more-map-option {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.more-map-option span, .more-map-option .rounded-toggle-wrapper {
    margin-top: 20px;
}



.national-map {
    margin-top: 100px;
    display: grid;
    grid-template-rows: 1fr 200px;
    align-items: center;
    justify-content: center;
    height: calc(min(600px, 90vw) + 200px);
}

.notes-content {
    text-align: justify;
}

@media screen and (max-width: 1000px) {

    .map-option-wrapper span {
        font-size: 13px;
    }

}